:root {
  /* COULEUR         
  Utilisation:
  h1 {...color: var(--noir1); par exemple
  */

  /* Couleur 1 principale */
  --noir1: #212226;
  --vert1_fonce: #40735b;
  --marron1: #73493f;

  /* Couleur 2 secondaire */
  --vert2_moyen: #85a676;
  --vert2_pale: #b5d991;

  /* Couleur 3 d accent */
  --marron3_clair: #bf5545;

  /* POLICE              
  1) TITRE: Praise regular 400 (google font)
  font-family: 'Praise', cursive;    

  2) TEXTE: Cinzel Regular 400 (google font)
  font-family: 'Cinzel', serif;
  */
}

body {
  min-height: 100vh;
  user-select: none;
  background: url(https://images.pexels.com/photos/269063/pexels-photo-269063.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    center/cover no-repeat;
}

/* _________________________________HEADER______________________________________________ */

header {
  background: center/cover url(../IMAGES/banniere.png) no-repeat;
  border: 2px solid var(--noir1);
  border-radius: 10px;
  margin: 20px;
}

header div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

header div div {
  /* Div logo */
  flex: 1;
}

header div div img {
  /* logo */
  width: 80px;
}

header div h1 {
  flex: 4;

  text-align: center;
  font-family: "Praise", cursive;
  font-size: 5rem;
  letter-spacing: 5px;
  color: var(--marron3_clair);
  text-shadow: 5px 5px 0px black;
  margin: 40px 0px;
}

header nav {
  width: 100%;
}

header nav ul {
  list-style-type: none;
  padding: 0px;

  display: flex;
  flex-wrap: wrap; /* ou nowrap... non */
  justify-content: space-around;
}

header nav ul li {
  display: flex;
  margin: 10px;
  backdrop-filter: blur(50px);
  border: 1px solid var(--noir1);
  border-radius: 5px;
  width: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header nav ul li:hover {
  transition: 0.5s;
  transform: scale(120%);
}

.Nav_Page_i {
  padding: 5px;
  text-decoration: none; /* Liens non soulignés */
  color: var(--vert2_pale);
  background-color: var(--marron3_clair);
  text-shadow: 1px 1px 0px black;
  font-size: 1.5rem;
}

@media screen and (max-width: 550px) {
  header nav ul li {
    width: 250px;
  }

  .Nav_Page_i {
    padding: 10px;
  }

  header div h1 {
    font-size: 3rem;
  }
}

/* _________________________________MAIN______________________________________________ */

main {
  margin-bottom: 10px;
}

h2 {
  font-family: "Praise", cursive;
  letter-spacing: 5px;
  font-size: 3rem;
  text-align: center;
  color: var(--noir1);
  text-shadow: 2px 2px 0px var(--marron3_clair);
  background: rgba(182, 182, 182, 0.521);
  border: 1px solid black;
  border-radius: 10px;
}

h3 {
  margin: 10px 10px;
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  color: var(--noir1);
  text-shadow: 2px 2px 0 var(--marron3_clair);
}

h4 {
  font-family: "Cinzel", serif;
  font-size: 1rem;
  color: var(--vert2_pale);
  margin: 0 10px;
}

h5 {
  /* font-size: 1rem;
  color: var(--vert2_pale); */
  color: black;
  /* color: white; */
}


.prix {
  text-align: right;
  padding-right: 20px;
}

hr {
  margin: 0 auto;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 3px;
  background: var(--noir1);
}

.boxcarte {
  margin: 0% 10%;
}

.burger {
  display: flex;
  border: 2px solid var(--noir1);
  margin-top: 20px;
  background: var(--marron1);
  border-radius: 5px;
}

/* Effet d'ombre */
.avant {
  box-shadow: 0px 0px 20px 2px #ffffff;
}

img {
  width: 100%;
  align-self: center;
  border-radius: 5px;
}

.imgcarte {
  min-width: 150px;
  max-width: 250px;
  display: flex;
  flex: 1;
  margin: 10px;
}

.txtcarte {
  display: flex;
  flex-direction: column;
  flex: 3;
  align-self: center;
}

@media screen and (max-width: 550px) {
  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.95rem;
    margin: 0 5px;
  }

  .boxcarte {
    border: 1px solid red;
    margin: 10px 10px;
  }

  .imgcarte {
    margin: 5px;
  }
}
/* _____________________________________ ALL FORM_______________________________ */

form input,
select,
textarea {
  font-family: "Arial", serif;
  font-size: 1.3rem;
  color: black;
  background: white;
  border-radius: 10px;
  /* text-align: right; */
  padding: 10px;
}

/* _________________________________FORM LOGIN ADMIN____________________________ */

.logadmin {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.logimg {
  display: flex;
  margin: auto;
  background: url(../IMAGES/photoR.jpg) center/cover no-repeat;
  border: 3px solid var(--noir1);
  border-radius: 10px;
}

#formLogin {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin: 60px;
  background: rgba(182, 182, 182, 0.521);
  backdrop-filter: blur(10px);
  border-radius: 30px;
}

#formLogin label {
  font-family: "Cinzel", serif;
  font-size: 1.6rem;
  color: black;
}

#formLogin input {
  height: 40px;
}

#btn_auth {
  font-family: "Praise", cursive;
  font-size: 1.2rem;
}

/* _________________________________FORM RESERVATION____________________________ */

#form_reservation {
  width: 600px;
  background: url(../IMAGES/photoA.jpg) center/cover no-repeat;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: column;
  grid-template-areas:
    "Tx1    Inp1 Inp1 Inp1      "
    "Tx2    Inp2 Inp2 Inp2      "
    "Tx3    Inp3 Inp3 Inp3      "
    ".      midi .    soir      "
    ".      .    .    reserv    ";

  border: 3px solid var(--noir1);
  border-radius: 10px;
  padding: 30px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#form_reservation label {
  font-family: "Cinzel", serif;
  font-size: 1.3rem;
  color: white;
  background: #000000cc;
  border-radius: 10px;
  text-align: right;
  padding: 10px;
}

#Nom_tx {
  grid-area: Tx1;
}
#Nom_input {
  grid-area: Inp1;
}
#Tel_tx {
  grid-area: Tx2;
}
#Tel_input {
  grid-area: Inp2;
}
#Date_tx {
  grid-area: Tx3;
}
#Date_input {
  grid-area: Inp3;
}
#Midi_box {
  grid-area: midi;
}
#Soir_box {
  grid-area: soir;
}
#Btn_Reserver {
  grid-area: reserv;
  font-family: "Praise", cursive;
  font-size: 1.2rem;
}
.box_time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#form_reservation input[type="checkbox"] {
  transform: scale(2.5);
}



@media screen and (max-width: 610px) {
  #form_reservation {
    width: 300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 */
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 2fr; /* 9 */
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "Tx1      Tx1     Tx1"
      "Inp1     Inp1    Inp1"
      "Tx2      Tx2     Tx2"
      "Inp2     Inp2    Inp2"
      "Tx3      Tx3     Tx3"
      "Inp3     Inp3    Inp3"
      "midi     .       soir"
      "reserv   reserv  reserv";

    padding: 10px 5px 10px 5px;
  }

  #Btn_Reserver {
    grid-area: reserv;
    margin: 10px 50px 0px 50px;
  }
}
