
/* Style Temporaire *** Eliminer ***********/
.bord-red {     
    border: 2px solid red;
}

  
/* Styles ANNULES ************************************/
h2, h3, h4, h5, h6, p , ul, nav, li, a {
    margin: 0;
    padding: 0;
  }

ul {
    list-style-type: none; /* SANS PUCE */
}
a {
    text-decoration: none; /* Liens non soulignés */
}

/* ***  Styles communs ******************************* */
/*  Taille dx 
    Marge int ext
    Centrage auto / txt
    Centrage div
*/
.border-2b {     
    border: 2px solid black;
}
.border-1b {     
    border: 2px solid rgb(77, 77, 77);
}
.border-bot {     
    border-bottom: 1px solid rgb(41, 41, 41);
}

.dx40 {
    width: 40%;
}
.dx50 {
    width: 50%;
}
.dx60 {
    width: 60%;
}
.dx90 {
    width: 90%;
}
.dx80 {
    width: 90%;
}
.dx100 {
    width: 100%;
}

.dy400px {
    height: 400px;
}

.padding-V10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-V20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-H10 {
    padding-left: 10px;
    padding-right: 10px;
}
.padding-H20 {
    padding-left: 20px;
    padding-right: 20px;
}
.padding-H50 {
    padding-left: 50px;
    padding-right: 50px;
}
.padding-H100 {
    padding-left: 100px;
    padding-right: 100px;
}
.margin-V10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin-V5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.margin-H5 {
    margin-left: 5px;
    margin-right: 5px;
}
.margin-H10 {
    margin-left: 10px;
    margin-right: 10px;
}
.margin-H50 {
    margin-left: 50px;
    margin-right: 50px;
}

/* *** Centrage ******************/
.center-elt {
    margin-left: auto;
    margin-right: auto;
}
.center-txt {
    text-align: center;
}

/* Centrage Div **********************/
.ligne {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}

.axe1-start {
    justify-content: flex-start;
}
.axe1-center {
    justify-content: center;
}
.axe1-sp-around {
    justify-content: space-around;
}
.axe1-sp-between {
    justify-content: space-between;
}
.axe2-center {
    align-items: center;
}


.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
.flex3 {
    flex: 3;
}
.flex4 {
    flex: 4;
}

/************************************************************************/

.box-blanche {
    /* width: 100%; déborde !!*/
    /* width: 100%; pas assez grand pas 90 vh?  */
    /* margin-left: 10px;
    margin-right: 10px; */
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid #212226;
    border-radius: 10px;
}

.box-centree {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border: 2px solid #212226;
    border-radius: 10px;
}

.box-centree:hover {
    transition: 0.5s;
    transform: scale(1.2, 1.1);
}

.box-marron {
    display: flex;
    border: 2px solid var(--noir1);
    /* margin-top: 20px; */
    background: var(--marron1);
    border-radius: 5px;
}

.ombre {
    box-shadow: 0px 0px 20px 2px #ffffff;
}

.btn {
    margin: 5px 10px;
    padding: 5px 5px;
    background: rgb(170, 120, 70, 0.3);
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 5px 0px #000000, inset 3px 3px 10px 0px #ffffff,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
}
  
.btn:hover {
    transform: scale(110%);
    background: rgb(170, 120, 40, 0.3);
    transition: 0.3s;
    cursor: pointer;
}
  

#box-footer {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #73493f;
    border: 2px solid #212226;
    border-radius: 10px;
}

.imgContaint {
    object-fit:contain;
    /* object-fit: cover; */
}
.imgSize70h80w {
    height: 100px;
    width: 110px;
}
.imgSize140h160w{
    height: 140px;
    width: 160px;
}
/************************************************************************/
#form-prod-carte label {
    font-size: 1.2rem;
    flex: 1;
}
#form-prod-carte input, select {
    font-size: 1.1rem;
    flex: 3;
    margin-right: 20px;
}
/************************************************************************/

.list {
    overflow: auto;
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }