:root {
  /* COULEUR         
    Utilisation:
    h1 {...color: var(--noir1); par exemple
    */

  /* Couleur 1 principale */
  --noir1: #212226;
  --vert1_fonce: #40735b;
  --marron1: #73493f;

  /* Couleur 2 secondaire */
  --vert2_moyen: #85a676;
  --vert2_pale: #b5d991;

  /* Couleur 3 d accent */
  --marron3_clair: #bf5545;

  /* POLICE              
    1) TITRE: Praise regular 400 (google font)
    font-family: 'Praise', cursive;    
  
    2) TEXTE: Cinzel Regular 400 (google font)
    font-family: 'Cinzel', serif;
    */
}

body {
  min-height: 100vh;
  user-select: none;

  background: url(  https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)
    center/cover no-repeat;
  
  background: url(https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)
    center/cover no-repeat;

  /*
  background: url(https://images.pexels.com/photos/942872/pexels-photo-942872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
  center/cover no-repeat; */
}

/* _________________________________HEADER______________________________________________ */

header {
  margin: 30px;
}
.en_tete {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.logobox {
  /* Div logo */
  flex: 1;
  text-align: center;
}

img {
  /* logo */
  width: 80px;
}

.titre {
  flex: 3;
  text-align: center;
  height: 100px;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #212226;
  border-radius: 20px 0px 0px 20px;
}

#BtnDeco {
  flex: 1;
  padding: 39px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  background: var(--noir1);
  color: var(--vert2_pale);
  border-radius: 0px 20px 20px 0px;
}

h1 {
  font-family: "Praise", cursive;
  font-size: 3rem;
  letter-spacing: 4px;
  color: var(--marron3_clair);
  text-shadow: 3px 3px 0px black;
  margin: 0;
}

h2 {
  font-family: "Praise", cursive;
  font-size: 2rem;
  letter-spacing: 3px;
  color: var(--noir1);
  margin: 0;
}


header nav {
  width: 100%;
}

header nav ul {
  list-style-type: none;
  padding: 0px;

  display: flex;
  flex-wrap: wrap; /* ou nowrap... non */
  justify-content: space-around;
}

header nav ul li {
  display: flex;
  margin: 10px;
  backdrop-filter: blur(50px);
  border: 1px solid var(--noir1);
  border-radius: 5px;
  width: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header nav ul li:hover {
  transition: 0.5s;
  transform: scale(120%);
}

.Nav_Page_i {
  padding: 5px;
  text-decoration: none; /* Liens non soulignés */
  color: var(--vert2_pale);
  text-shadow: 1px 1px 0px black;
  font-size: 1.5rem;
}



/* ____________________________________________MAIN______________________________________ */

main {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main h2 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 1.3rem;
  color: white;
  background: #000000bb;
  padding: 10px;
}
/* __________________________________Gestion Reservation_________________________________ */

.resa_center {
  width: 75%;
  margin: auto;
}

.resabox {
  text-align: center;
  border: 2px solid var(--noir1);
  background: rgba(255, 255, 255, 0.7);
  margin: 5px 0px;
}

/* __________________________________Gestion Produit____________________________________ */

.leftBox {
  width: 600px;
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid var(--noir1);
  border-radius: 10px;
}

form label {
  font-family: "Cinzel", serif;
  font-size: 1.3rem;
  color: white;
  background: #000000bb;
  border-radius: 10px;
  /* text-align: right; */
  padding: 10px;
}

form input,
select,
textarea {
  font-family: "Arial", serif;
  font-size: 1.3rem;
  color: black;
  background: white;
  border-radius: 10px;
  /* text-align: right; */
  padding: 10px;
}

#form_DB_produits_modif {
  width: 600px;
  padding: 20px 0px;

  display: grid;
  grid-template-columns: 0.1fr 1fr 2fr 0.1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 3fr 1fr 1.5fr 0.1fr;
  /* O.1fr : commode pour créer / gérer une marge*/
  gap: 10px 10px;
  grid-auto-flow: column;
  grid-template-areas:
    ".  .     .         ."
    ".  Tx1   Cat       ."
    ".  Tx2   Inp_N     ."
    ".  Tx3   Fichier   ."
    ".  Tx4   Descrip   ."
    ".  .     Descrip   ."
    ".  Tx5   Inp_P     ."
    ".  .     Ok        ."
    ".  .     .         .";
  /* Ou modifier la marge en 1er et derniere col row "." "0.1fr" */
}
#form_DB_produits_modif #Cate_Tx {
  grid-area: Tx1;
}
#form_DB_produits_modif #Categorie-select {
  grid-area: Cat;
}
#form_DB_produits_modif label[for="Nom_text"] {
  grid-area: Tx2;
}
#form_DB_produits_modif input[name="Nom_text"] {
  grid-area: Inp_N;
}
#form_DB_produits_modif label[for="Prod_img"] {
  grid-area: Tx3;
}
#form_DB_produits_modif input[name="Prod_img"] {
  grid-area: Fichier;
  background-color: white;
}
#form_DB_produits_modif label[for="Description"] {
  grid-area: Tx4;
}
#form_DB_produits_modif textarea[name="Description"] {
  grid-area: Descrip;
}
#form_DB_produits_modif label[for="Prix"] {
  grid-area: Tx5;
}
#form_DB_produits_modif input[name="Prix"] {
  grid-area: Inp_P;
}
#form_DB_produits_modif #Btn_Valider {
  grid-area: Ok;
  margin: 20px 50px 0px 50px;
  font-family: "Praise", cursive;
  font-size: 1.5rem;
}

.rightBox {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.EnAttente {
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid var(--noir1);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

#Produit_dispo {
  margin-bottom: 10px;
}

#BtnResa {
  flex: 1;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  background: var(--noir1);
  color: var(--vert2_pale);
  border-radius: 20px;
}

#box_footer {
  width: 90%;
  padding: 10 20;
  background-color: #73493f;
  border: 2px solid #212226;
  border-radius: 10px;
}